# Fichiers système ou temporaires
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
.DS_Store

# Ignore temporary runner file
tempCodeRunnerFile.py

# Ignore compiled __init__ (optionnel si tu veux cacher juste le pyc)
__init__.py